
@font-face {
    font-family: 'loraitalic';
    src: url('lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('lora-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
   box-sizing: border-box; 
}

h1 {
    font-family: 'epilouge', sans-serif;
}

h2 {
    font-family: 'aleo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

p {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
}