:root {
    --black: #000000;
    --white: #F9F9F9;
    --blue: #096092;
    --dark-grey: #485A64;
    --light-grey: #CDD2D4;
    --light-blue: #78B3BB;
}

@font-face {
    font-family: 'loraitalic';
    src: url('lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'loraregular';
    src: url('lora-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
   box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    justify-content: center;
}

/* header {
} */

h1 {
    font-family: 'epilouge', sans-serif;
}

h2 {
    font-family: 'aleo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

p {
    font-family: 'loraregular', 'Times New Roman', Times, serif;
}

nav {
    align-items: center;
    background-color: var(--blue);
    display: flex;
    justify-content: space-around;
}

.study {
    color: var(--dark-grey);
}

.case {
    color: var(--blue);
}

.case a:hover, .case a:visited {
    color: var(--dark-grey);
}

.nav a:hover, .nav a:visited {
    color: var(--light-blue);
}

/* .casestudy1 {
    align-items: center;
    display: flex;
    justify-content: center;
} */